/* =============
    Typography
============= */
p{
    font-family:'Libre Franklin', sans-serif, ;
    font-weight: 300;
    font-size: rem-calc(16);
    @include lg{
        font-size: rem-calc(18);
    }

    padding: 0px;
    margin: 0px;
    
}

h1{
    font-family: 'Abril Fatface', cursive;
    font-weight: normal;
    color: $blue;
    font-size: rem-calc(18);

    @include md{
        font-size: rem-calc(24);
        line-height: rem-calc(28);
    }

    @include lg{
        font-size: rem-calc(40);
        line-height: rem-calc(44);
    }

    @include xl{
        font-size: rem-calc(48);
        line-height: rem-calc(54);
    }

    padding: 0px;
    margin: 0px;
    
}

h2{
    font-family: 'Abril Fatface', cursive;
    color: $navy;
    font-size: rem-calc(18);
    font-weight: normal;

    @include lg{
        font-size: rem-calc(24);
    }

    @include xl{
        font-size: rem-calc(36);
    }

    padding: 0px;
    margin: 0px;
}

li,h3{
    font-family:'Libre Franklin', sans-serif, ;
    font-weight: 700;
    font-size: rem-calc(16); 

    padding: 0px;
    margin: 0px;
    
}


